.prawn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .prawn-image {
    flex: 1;
    padding: 10px;
  }
  
  .prawn-image img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
  }
  
  .prawn-details {
    flex: 1;
    padding: 10px;
    text-align: left;
  
  }
  
  .prawn-details h1 {
    margin-top: 0;
    color: black;
  }
  
  .prawn-container9 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .prawn-container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .prawn-container4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
  }