.heading {
  text-align: center;
  margin-top: 300px;
  border: 2px solid black;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(217, 233, 249);
  border-radius: 25px;
  padding: 10px;
  color: var(--medium-dark);
  box-shadow: 2px 3px 4px whitesmoke;
  transition: transform 0.3s ease;
}

.heading:hover {
  transform: scale(1.1);
}